extends layout

block content
    h1= title
    form(method="POST")
        p Username:
            input(type="text", name="username", value="test")
        p First Name:
            input(type="text", name="firstname", value="Bearcat")
        p Last Name:
            input(type="text", name="lastname", value="Prime")
        p Homeroom Teacher:
            select(name="homeroom")
                each teacher in teachers
                    option(value=teacher._id)=teacher.name
        p Password:
            input(type="text", name="password", value="swordfish")
        p Student ID:
            input(type="text", name="sid", value="1234567")
        input(type="submit", name="pass_action", value="Submit")
    a(href="/login") Login